page-category {
  .category {
    width: 30vw;
    height: 30vw;
    border-color: mediumpurple;
    border-width: 8px;
    border-radius: 10%;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    font-size: 115%;
  }

  .categoryImage {

  }
}
